* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  background-color: black;
  /* transform: translate(200px 0px); */
  transition: 2s;
}

.box:hover {
  margin-top: 300px;
}
