* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  perspective: 600px;
}

h1 {
  color: black;
  font-weight: 700;
  font-size: 80px;
}

.container {
  width: 200px;
  height: 200px;
  border: 2px solid red;
}

.box {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  float: left;
}
