* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  perspective: 500px;
}

h1 {
  color: black;
  font-weight: 700;
  font-size: 80px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  transition: all 1s;
  margin: 200px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  transform: rotateY(90deg);
}
